<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CreateWalletTest">
    <test name="Test">
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="test.Create1stWalletTest"/>
            <class name="test.Create2ndWalletTest"/>
        </classes>
    </test>
</suite>